.header-body {
  background-color: #f2f2f2;
  color: #da7557;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 13px;
  font-weight: 630;
  /* line-height: 49px; */
  padding-top: 7px;
  
}

.logo {
  background-color: #f2f2f2;
  padding-right: 5px;
  padding-bottom: 9px;
  margin-top: 5px;
}

.pulp-links {
  display: flex;
  color: #da7557;
  flex-direction: row;
  align-content: center;
  padding-left: 20px;
  padding-top: 23px;
  -o-transition:.50s;
  -ms-transition:.50s;
  -moz-transition:.50s;
  -webkit-transition:.50s;
  transition:.50s
  
}

.link {
  padding-right: 15px;
  cursor: pointer;
  text-decoration: none; color:#da7557;
}

.link:hover{
  color: #9ACB59
}

.social-links {
  display: flex;
  flex-direction: row;
  margin-left: 100px;

}

.social {
  padding-right: 10px;
  padding-top: 10px;
}
